services:
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"

  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80" # Открываем порт 80 наружу
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend